
.banner {
    background-image: url('https://img.tukuppt.com/bg_grid/23/26/76/qoq8Ve3ok5.jpg!/fh/350'); /* 替换为实际图片路径 */
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff7f7;
}