body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f5f5;
    color: #111111;
}



.banner {

    background-image: url('/images/banner.jpg');
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f30f0f;
}


body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


.navigation {
    display: flex;

    justify-content: center;

    list-style: none;

    padding: 0;

    margin: 0;

}

.nav-list {
    display: flex;

}

.nav-item {
    margin: 25px;

}


header a,
footer a {
    color: #fff;

    text-decoration: none;

    font-weight: 300;

    transition: color 0.3s;

}

header a:hover,
footer a:hover {
    text-decoration: underline;

}


.header,
.footer {
    text-align: center;
    padding: 1em;
    color: white;
    background-image: linear-gradient(to right, #fe8c00, #f83600);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-weight: bold;
}


.navigation {
    display: flex;

    justify-content: center;

    align-items: center;

    gap: 20px;

    list-style: none;

    padding: 0;

    margin: 0;

}

.nav-list {
    display: flex;

    flex-wrap: wrap;

}

.nav-item {}


.nav-item a {
    color: #fff;

    text-decoration: none;

    font-weight: normal;

    transition: color 0.3s;

}

.nav-item a:hover {
    text-decoration: underline;

}

.image-gallery {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

}

.gallery-row {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 10px 0;

}

.gallery-item {
    flex: 1;

    max-width: calc(16.66% - 10px);

    margin: 1%;

    text-align: center;
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 4px;

    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.image-title {
    font-size: 16px;

    color: #333;
    margin-top: 2%;

}


@media (max-width: 768px) {
    .gallery-item {
        max-width: calc(33.33% - 20px);

    }
}

@media (max-width: 480px) {
    .gallery-item {
        max-width: 100%;

        margin: 0 0 10px;

    }
}


.feature-rv {
    background-color: #f4f0f0;

    padding: 2rem;

    text-align: center;

    margin-bottom: 2rem;

}

.feature-rv h2 {
    font-size: 2rem;

    margin-bottom: 1rem;

}

.feature-rv p {
    font-size: 1.5rem;

    color: #333;

}


.route-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.route-link:hover .route-title {
    text-decoration: underline;
}

.latest-routes {
    padding: 3rem;
    background: #fff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.latest-routes h2 {
    font-size: 2rem;
    text-align: center;

    margin-bottom: 3rem;

}

.route-items {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

}

.route-item {
    flex-basis: calc(33.33% - 20px);

    margin: 0 10px;

    background: #fdfdfd;

    border-radius: 8px;

    overflow: hidden;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.route-thumbnail {
    margin-bottom: 1rem;

}

.route-thumbnail img {
    width: 100%;
    height: auto;
    display: block;

    border-radius: 6px;

}

.route-details {
    padding: 1rem;

}

.route-details h3 {
    font-size: 2.rem;

    margin-bottom: 0.5rem;

}

.user-story-title a {
    text-decoration: none;
    color: inherit;
}

.user-story-title a:hover {
    text-decoration: underline;
}

.story-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-basis: calc(33.33% - 20px);
    margin: 0 10px;
    background: #fdfdfd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}


.story-avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 0;
}


.story-text {
    flex: 2px;
    text-align: center;
    margin-top: 3px;
}




@media (max-width: 768px) {
    .route-item {
        flex-basis: calc(50% - 20px);

    }
}

@media (max-width: 480px) {
    .route-item {
        flex-basis: 100%;

    }
}


.user-stories {
    padding: 2rem;
    background: #fff;

    text-align: center;

    margin-bottom: 2rem;

}

.user-stories h2 {
    font-size: 2rem;

    margin-bottom: 1rem;

}

.story-items {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

    margin-top: 2rem;

}

.story-item {
    flex-basis: calc(33.3% - 80px);

    margin: 0 10px;

    background: #fdfdfd;

    border-radius: 8px;

    overflow: hidden;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    padding: 1rem;

}

.story-avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;

    margin-bottom: 1rem;

}


@media (max-width: 768px) {
    .story-item {
        flex-basis: calc(50% - 20px);

    }
}

@media (max-width: 480px) {
    .story-item {
        flex-basis: 100%;

    }

    .user-story-title a {
        text-decoration: none;
        color: inherit;
    }

    .user-story-title a:hover {
        text-decoration: underline;
    }
}