---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/home.css";
import "../styles/global.css";
---

<!doctype html>
<html lang="zh">
    <header class="header">
        <div class="logo">兰州蜗牛房车网</div>
        <nav class="navigation">
            <ul class="nav-list">
                <li class="nav-item"><a href="/">首页</a></li>
                <li class="nav-item"><a href="/rent">租车</a></li>
               
                <li class="nav-item"><a href="/information">资讯</a></li>
              
                <li class="nav-item"><a href="/contact">联系我们</a></li>
               
            </ul>
        </nav>
    </header>
    <body>
        <Header />
        <main>
            <main>
             
                <div class="image-gallery">
                
                    <div class="gallery-row upper-row">
                    
                        <div class="gallery-item">
                            <img
                                src="https://static.wanfangche.com/21rv/levels/voluntarilyA.png"
                                alt="图片 1"
                                class="gallery-image"
                            />
                            <h3 class="image-title">自行式A型</h3>
                        </div>
                   
                        <div class="gallery-item">
                            <img
                                src="https://static.wanfangche.com/21rv/levels/voluntarilyB.png"
                                alt="图片 2"
                                class="gallery-image"
                            />
                            <h3 class="image-title">自行式B型</h3>
                        </div>
                   
                        <div class="gallery-item">
                            <img
                                src="https://static.wanfangche.com/21rv/levels/commerce.png"
                                alt="图片 3"
                                class="gallery-image"
                            />
                            <h3 class="image-title">商务房车</h3>
                        </div>
                    </div>

                  
                    <div class="gallery-row lower-row">
                  
                        <div class="gallery-item">
                            <img
                                src="https://static.wanfangche.com/21rv/levels/trailerA.png"
                                alt="图片 4"
                                class="gallery-image"
                            />
                            <h3 class="image-title">拖挂型A型</h3>
                        </div>
                    
                        <div class="gallery-item">
                            <img
                                src="https://static.wanfangche.com/21rv/levels/trailerB.png"
                                alt="图片 5"
                                class="gallery-image"
                            />
                            <h3 class="image-title">拖挂型B型</h3>
                        </div>
                 
                        <div class="gallery-item">
                            <img
                                src="https://static.wanfangche.com/21rv/levels/trailerC.png"
                                alt="图片 6"
                                class="gallery-image"
                            />
                            <h3 class="image-title">拖挂型C型</h3>
                        </div>
                    </div>
                </div>
            </main>

            <main>
             
                <section class="feature-rv">
                    <div class="feature-content">
                        <h2>为什么选择我们的房车</h2>
                        <p>精选房车，专业服务，让您的旅行更加舒适便捷。</p>
                    </div>
                </section>
            
            
                <section class="latest-routes">
                    <h2>最新路线推荐</h2>
                    <div class="route-items">
                       
                        <article class="route-item">
                            <div class="route-thumbnail">
                              
                                    <a href="https://k.sina.com.cn/article_5889607523_15f0c4763001005609.html" target="_blank">
                                    <img src="https://p0.ssl.qhimgs1.com/t0115c18412a48a86ca.jpg" alt="路线1" />
                                    <h3 class="route-title">路线1：川西大环线</h3>
                                </a>
                            </div>
                            <div class="route-details">
                                <p>神山圣湖间，探寻古蜀秘境，感受自然与历史的交融。</p>
                            </div>
                        </article>
                       
                        <article class="route-item">
                            <div class="route-thumbnail">
                               
                                    <a href="https://zhuanlan.zhihu.com/p/144305787" target="_blank">
                                    <img src="https://p1.ssl.qhimgs1.com/sdr/400__/t047851e956513ace3b.jpg" alt="路线2" />
                                    <h3 class="route-title">路线2：甘青大环线</h3>
                                </a>
                            </div>
                            <div class="route-details">
                                <p>丝绸之路的印记，雪域高原的呼唤，体验古老文明与现代风情的交织。</p>
                            </div>
                        </article>
                            
                       
                            <article class="route-item">
                                <div class="route-thumbnail">
                                   
                                        <a href="https://zhuanlan.zhihu.com/p/144305787" target="_blank">
                                        <img src="https://p0.ssl.qhimgs1.com/sdr/400__/t048621749ecbbd2f46.jpg" alt="路线3" />
                                        <h3 class="route-title">路线3：北疆大环线</h3>
                                    </a>
                                </div>
                                <div class="route-details">
                                    <p>从雪山到草原，从湖泊到沙漠，北疆大环线带你领略最纯粹的自然之美。</p>
                                </div>
                            </article>
                            
                        </article>
                       
                    </div>
                </section>
              
            </main>

            <main>
              
                 
                <section class="user-stories">
                    <h2>用户故事</h2>
                    <div class="story-items">
                      
                        
                        <article class="story-item">
                           
                            <a href="https://www.21rv.com/news/article/e5520ae6-c166-11ed-ab84-68cc6e7850f5" target="_blank">
                                <img src="https://img01.wanfangche.com/upload/202303/13/ab15458e-c165-11ed-84cf-0242ac1e0101.jpg?x-oss-process=style/large" alt="用户1" class="story-avatar" />
                                <h3>荒野日记|从香格里拉到“香格里拉”</h3>
                            </a>
                            <p>松木巴士</p>
                        </article>
                        
                        <article class="story-item">
                         
                            <a href="https://www.21rv.com/news/article/c1aa60f7-8bfa-11ed-b2fe-6c92bf5c72fa" target="_blank">
                                <img src="https://img01.wanfangche.com/upload/202301/04/b9cdb0fc-8bfa-11ed-b450-0242ac1f0003.jpg?x-oss-process=style/large-w" alt="用户1" class="story-avatar" />
                                <h3>蹲在街边的房车旁，喝一杯咖啡，可好？</h3>
                            </a>
                            <p>21世纪房车网</p>
                        </article>
                        
                        <article class="story-item">
                           
                            <a href="https://www.21rv.com/news/article/ade43f27-4a9e-11ed-b2fe-6c92bf5c72fa" target="_blank">
                                <img src="https://img01.wanfangche.com/upload/202301/04/bd104f68-8bfa-11ed-b450-0242ac1f0003.jpg?x-oss-process=style/large-w" alt="用户1" class="story-avatar" />
                                <h3>怎样才算会玩房车？老万用八年十年将房车玩明白了</h3>
                            </a>
                            <p>老万说房车</p>
                        </article>
                       
                         
                    </div>
                </section>
     
            </main>

   
        </main>
        <Footer />
    </body>

</html>
