---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "./information.css"; 
---

<!doctype html>
<html lang="zh">
    <header class="header">
        <div class="logo">兰州蜗牛房车网</div>
        <nav class="navigation">
            <ul class="nav-list">
                <li class="nav-item"><a href="/">首页</a></li>
                <li class="nav-item"><a href="/rent">租车</a></li>

                <li class="nav-item"><a href="/information">资讯</a></li>

                <li class="nav-item"><a href="/contact">联系我们</a></li>
              
            </ul>
        </nav>
    </header>
    <body>
        <Header />
        <body>
            <Header />
           
            <main>
                
                <section class="info-section">
                    <h1 class="info-title">租车资讯</h1>
                    <p>解锁您的梦想之旅，制定专属于您的租车方案。</p>

                    <body>
                        <Header />
                        <main class="info-container">
                         
                            <section class="info-section">
                                <h2 class="section-title">选车指南</h2>
                                <div class="article-list">
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://www.sohu.com/a/208882451_760866"
                                                target="_blank"
                                            >
                                                如何选择一款适合自己的房车</a
                                            >
                                        </h3>
                                        <p>介绍如何选择适合您的房车...</p>
                                    </article>
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://info.xcar.com.cn/202101/news_2055832_1.html"
                                                target="_blank"
                                                >房车入门宝典：常见房车分类全面解析</a
                                            >
                                        </h3>
                                        <p>了解不同房车类型的优势和特点...</p>
                                    </article>
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://zhuanlan.zhihu.com/p/476256002"
                                                target="_blank"
                                                >不同种类房车的优缺点分析：你究竟需不需要一辆房车？</a
                                            >
                                        </h3>
                                        <p>探索房车内部设计和必要设施...</p>
                                    </article>
                                </div>
                                <a
                                    href="https://externalwebsite.com/more-guide"
                                    class="more-info"
                                    target="_blank">更多信息</a
                                >
                            </section>

                          
                            <section class="info-section">
                                <h2 class="section-title">租车政策</h2>
                                <div class="article-list">
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://m.21rv.com/channel/cms/article/detail/786754"
                                                target="_blank"
                                                >开发房车露营地需要哪些审批手续？</a
                                            >
                                        </h3>
                                        <p>许可和登记管理流程...</p>
                                    </article>
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://www.zhihu.com/tardis/bd/art/604166949?source_id=1001"
                                                target="_blank"
                                                >房车保养，重点关注这 7 个方面</a
                                            >
                                        </h3>
                                        <p>如何进行车辆管理和维护...</p>
                                    </article>
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://www.toutiao.com/article/7212097921809007144/?log_from=d15d16317a909_1680188320258&wid=1711947159027"
                                                target="_blank"
                                                >房车相关规定（七）房车上高速公路的收费标准</a
                                            >
                                        </h3>
                                        <p>了解合同和收费管理...</p>
                                    </article>
                                </div>
                                <a
                                    href="https://hao.360.com/?a1004"
                                    class="more-info"
                                    target="_blank">更多信息</a
                                >
                            </section>


                            <section class="info-section">
                                <h2 class="section-title">使用手册</h2>
                                <div class="article-list">
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://www.sohu.com/a/436413897_120112763"
                                                target="_blank"
                                                >入门指南和产品概述</a
                                            >
                                        </h3>
                                        <p>房车概述、安全须知...</p>
                                    </article>
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://zhuanlan.zhihu.com/p/28096562"
                                                target="_blank"
                                                >操作指南与功能介绍</a
                                            >
                                        </h3>
                                        <p>
                                            驾驶操作、生活设施使用、系统控制...
                                        </p>
                                    </article>
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://www.sohu.com/a/219721277_214194"
                                                target="_blank">维护与保养</a
                                            >
                                        </h3>
                                        <p>
                                            日常保养、故障排查与维修、存放与运输...
                                        </p>
                                    </article>
                                </div>
                                <a
                                    href="https://hao.360.com/?a1004"
                                    class="more-info"
                                    target="_blank">更多信息</a
                                >
                            </section>

                            <section class="info-section">
                                <h2 class="section-title">常见问题问答</h2>
                                <div class="article-list">
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://www.360kuai.com/pc/90f3003a095833b1a?cota=3&kuai_so=1&sign=360_57c3bbd1&refer_scene=so_1"
                                                target="_blank"
                                                >如何选择合适的房车？</a
                                            >
                                        </h3>
                                        <p>
                                            出行人数、考虑时间和距离、驾驶资质...
                                        </p>
                                    </article>
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://www.bilibili.com/video/av528496598/"
                                                target="_blank"
                                                >租车流程是怎样的？</a
                                            >
                                        </h3>
                                        <p>
                                            提前预约、签署租赁合同、工作人员指导...
                                        </p>
                                    </article>
                                    <article class="article-item">
                                        <h3 class="article-title">
                                            <a
                                                href="https://m.icauto.com.cn/baike/79/796209.html"
                                                target="_blank"
                                                >房车租赁的费用包括哪些？</a
                                            >
                                        </h3>
                                        <p>
                                            押金和保证金、异地还车费、车辆清洁费、额外费用...
                                        </p>
                                    </article>
                                </div>
                                <a
                                    href="https://hao.360.com/?a1004"
                                    class="more-info"
                                    target="_blank">更多信息</a
                                >
                            </section>
                        </main>
                        <Footer />
                    </body>
                </section>
            </main></body
        ></body>
</html>
