<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<a href="/notes/">Notes</a>

        <style>
            a{
                color: aliceblue;
                text-decoration: none;
                margin-right: 2em;
            }
            a:hover{
                text-decoration: underline;
                background: #af9ee8;
                
            }
        </style>